@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*Colors:
    Grijs: #899CA0
    Donkergroen: #1C2B32
   */

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main * {
    overflow-y: auto;
    max-width: 1000px;
    margin: 0 auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body * {
    font-family: Poppins, Tahoma, sans-serif;
    font-size: 13px;
    color: #1C2B32;
}

h2 {
    font-size: 23px;
    text-align: center;
    padding: 27px;
    margin: 20px 0;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
}

.header-container {
    max-width: 1000px;
    margin: auto;
    padding: 250px 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    position: relative;
    margin-top: -210px;
}

.header-text {
    padding: 25px 0;
    text-align: center;
    margin-top: -20px;
}

.header-form {
    width: 100%;
    text-align: center;
}

.header-form-button {
    background-color: #1C2B32;
    color: #FFFFFF;
    padding: 14px;
    border: 2px solid #1C2B32;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header-form-button:hover {
    color: #899CA0;
}

#search-field {
    border: 2px solid #1C2B32;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: -5px;
    padding: 14px 40px 14px 14px;
    background: transparent;
}

input::placeholder {
    color: #1C2B32;
    width: 100%;
}

/*///////////// 3.2 Testimonial /////////////*/
.testimonials-container {
    overflow: visible;
}

.testimonial {
    width: 100%;
    margin: 30px auto;
    padding: 50px 70px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.quotes {
    width: 20px;
    position: relative;
    margin-bottom:-25px;
    margin-left:-30px;
}

.avatar {
    width: 44px;
    border-radius: 50%;
    margin: 20px 5px;
}

.name-avatar {
    font-style: italic;
    display: inline-block;
    position: absolute;
    margin: 30px 20px;
}

/*///////////// 3.3 Support /////////////*/
.contact-container * {
    width: 100%;
}

.contact-callcenter {
    margin: 0 auto 30px auto;
    border-radius: 5px;
}

.links {
    color: #899CA0;
}

.links:hover {
    text-decoration: none;
}

.contact-button {
    width: 160px;
    background-color: #1C2B32;
    color: #FFFFFF;
    margin: 30px auto 0 auto;
    padding: 20px 20px;
    border: none;
    border-radius: 30px;
}

.contact-button:hover {
    background-color: #899CA0;
}

/*///////////// 3.4 Faq /////////////*/
.faq {
    padding: 10px 0;
}

summary:hover {
     cursor: pointer;
}

.faq:open > summary {
    padding: 10px;
}

details > p {
    width: 60%;
    background-color: #899CA0;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

/*///////////// 3.5 Footer /////////////*/
.copyright {
    background-color: #1C2B32;
    text-align: center;
    color: #FFFFFF;
    font-size: 10px;
    margin: 70px auto 0 auto;
    padding: 20px;
}